In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame({
    "ID": [1, 2, 3, 4],
    "name": ["Leo", "Magnus", "Divine", "JohnPaul"],
    "Department": ["Mechanical", "Mechanical", "Polymer & Textile", "Electrical & Electronics"]
})

In [4]:
df

   ID      name                Department
0   1       Leo                Mechanical
1   2    Magnus                Mechanical
2   3    Divine         Polymer & Textile
3   4  JohnPaul  Electrical & Electronics

In [7]:
df.groupby("Department").mean()

NameError: name 'Department' is not defined